In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import geoplot as gplt
import matplotlib.pyplot as plt
import seaborn as sns
import geoplot.crs as gcrs
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from dbfread import DBF
from shapely.geometry import LineString
from shapely.geometry import Polygon
from shapely.geometry import MultiPolygon
from shapely.ops import polygonize
%matplotlib inline

In [3]:
tornado = gpd.read_file('../data/TEST/HistTornadoTracks.shp')

In [4]:
tornado.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1145 entries, 0 to 1144
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    1145 non-null   int64
 1   om          1145 non-null   int64
 2   yr          1145 non-null   int64
 3   mo          1145 non-null   int64
 4   dy          1145 non-null   int64
 5   date        1145 non-null   object
 6   time        1145 non-null   object
 7   tz          1145 non-null   int64
 8   st          1145 non-null   object
 9   stf         1145 non-null   int64
 10  stn         1145 non-null   int64
 11  mag         1145 non-null   int64
 12  inj         1145 non-null   int64
 13  fat         1145 non-null   int64
 14  loss        612 non-null    float64
 15  closs       1145 non-null   float64
 16  slat        1145 non-null   float64
 17  slon        1145 non-null   float64
 18  elat        1145 non-null   float64
 19  elon        1145 non-null   float64
 20  len         1145 non-null   float64
 21  wid         1145 non-null   int64
 22  fc          1145 non-null   int64
 23  Pre_1996_L  1145 non-null   object
 24  SHAPE_Leng  1145 non-null   float64
 25  geometry    1145 non-null   geometry
dtypes: float64(8), geometry(1), int64(13), object(4)
memory usage: 232.7+ KB

In [6]:
tornado.head()

,OBJECTID,om,yr,mo,dy,date,time,tz,st,stf,...,slat,slon,elat,elon,len,wid,fc,Pre_1996_L,SHAPE_Leng,geometry
0,25,25,1950,2,13,1950-02-13,01:00:00,3,TN,47,...,35.35,-89.77,0.0,0.0,0.2,10,0,3,17.411841,"LINESTRING (-9993151.337 4211547.950, -9993138..."
1,26,26,1950,2,13,1950-02-13,02:00:00,3,TN,47,...,35.75,-89.48,0.0,0.0,0.2,10,0,4,17.505247,"LINESTRING (-9960868.678 4266276.970, -9960855..."
2,47,47,1950,3,27,1950-03-27,15:00:00,3,TN,47,...,35.68,-85.77,0.0,0.0,0.2,10,0,3,17.485824,"LINESTRING (-9547873.250 4256679.661, -9547859..."
3,447,246,1951,11,14,1951-11-14,22:00:00,3,TN,47,...,35.22,-87.03,0.0,0.0,0.2,10,0,4,17.379473,"LINESTRING (-9688135.845 4193819.506, -9688122..."
4,477,16,1952,2,13,1952-02-13,17:00:00,3,TN,47,...,36.00,-88.12,0.0,0.0,0.3,300,0,4,17.563339,"LINESTRING (-9809474.130 4300622.300, -9809460..."